<template name="receita">
    <tr>
        <td>
            {{item.nome}}
        </td>
        <td>
            {{#each itens}}
                {{quantidade}}x {{item.nome}}<br/>
            {{/each}}
        </td>
        <td>
            {{profissao.nome}}
        </td>
        <td>
            {{segundos}}s
        </td>
        <td>
            <div class="ui input">
                <input value="{{quantidadeFabricar}}" type="number" min="1">
            </div>
        </td>
        <td>
            <button class="ui button">Fabricar</button>
        </td>
    </tr>
</template>